body {
    background-color: #f3f3f3;
    margin: 0;
    padding-top: 60px;
}
/* Style the navbar */

.nav-wrapper {
    overflow: hidden;
    background-color:#fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#nav-desktop {
    display: flex;
    float: right;
    list-style-type: none;
    padding-left: 14px;
    padding-right: 14px;
}

#nav-desktop li{
    float: right;
    color: #4e4e4e;
    text-align: center;
    text-decoration: none;
}

#nav-desktop a{
    color: #4e4e4e;
    text-align: center;
    font-family: Gadugi;
    padding: 14px;
    text-decoration: none;
}

#nav-desktop a:hover {
    color: #97aed4;
}

.logo {
    height: 60px;
}

.logo a {
    vertical-align: text-bottom;
    text-decoration: none;
    font-family: MV Boli;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    color: #4E4E4E;
}

.logo svg {
    width: 50px;
    height: 50px;
    padding: 2px;
}

#selected {
    box-shadow: 0 2px 0 #4e4e4e;
}

/* Page content */

h1 {
    font-family: Karla;
    color:#4e4e4e;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-family: Karla;
    color: #4e4e4e;
    margin: 0;
}

hr {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    height: 1px;
    width: fit-content;
    color: #4e4e4e;
    border: #4e4e4e;
    background-color: #4e4e4e;
    align-items: center;
}

p {
    font-family: Karla;
    color: #4e4e4e;
    margin: 0;
}

.content-wrapper {
    display: grid;
    width: 100%;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "mon mon mon mon mon mon mon mon mon"
                         "inc inc inc inc sum sum sum sum sum"
                         "fix fix fix sav sav sav inv inv inv"
                         "ftr ftr ftr ftr ftr ftr ftr ftr ftr";
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.month-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 4;
  grid-column-end: 7;
}

.month {
  background-size: contain;
  background-color: #5d6d7e;
  box-shadow: 1px 2px 0 rgba(0,0,0,.15);
  margin-top: 5px;
  text-align-last: center;
  height: 3.25em;
  width: 30em;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  max-width: 350px;
}

#month-title {
  font-size: 2.5em;
  color: #d7dbdd;
}

.income {
  display: flex;
  grid-area: inc;
  margin-left: 2em;
  flex-direction: column;
  background-color: #d0ece7;
  box-shadow: 1px 2px 0 rgba(0,0,0,.15);
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-template-areas: "title title title"
                       "date item amt"
                       "datedata itemdata amtdata";
}

.income-table-column {
  width: 33%;
  flex-direction: column;
}

.summary{
  display: flex;
  grid-area: sum;
  flex-direction: column;
  margin-right: 2em;
  background-color: #d4e6f1;
  box-shadow: 1px 2px 0 rgba(0,0,0,.15);
}

.summary-title {
  display: flex;
  justify-content: left;
  margin: 1em;
}

.summary-amount {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 0.05em solid gray;
}

.summary-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.25em;
  font-family: Karla;
  color: #4e4e4e;
  margin-bottom: 0.25em;
  padding-right: 0.25em;
  height: 2.6em;
}

.summary-cash {
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  justify-content: space-between;
}

.summary-categories {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.summary-cash-category {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-family: Karla;
  color: #4e4e4e;
  margin: 0.5em;
  padding-right: 0.25em;
  background-color: #a9cce3;
  border-radius: 1em;
  justify-content: center;
}

.inside-cash-category {
  display: flex;
  margin: 0.5em;
  justify-content: center;
}

.summary-cash-total {
  margin: 0.5em;
  font-size: 0.9em;
  font-family: Karla;
  color: #4e4e4e;
  background-color: #a9cce3;
  border-radius: 1em;
  font-weight:bold;
}

.minus {
  display: flex;
  flex-direction: column;
  color: #4e4e4e;
  font-size: 1em;
  font-family: Karla;
  justify-content: center;
}

.fixed-expenses {
  display: flex;
  grid-area: fix;
  flex-direction: column;
  margin-left: 2em;
  background-color:  #fadbd8;
  box-shadow: 1px 2px 0 rgba(0,0,0,.15);
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-template-areas: "title title title"
                       "date item amt"
                       "datedata itemdata amtdata";
}

.fixed-expenses-table-column {
  width: 33%;
  flex-direction: column;
}

.savings {
  display: flex;
  grid-area: sav;
  flex-direction: column;
  background-color: #fcf3cf;
  box-shadow: 1px 2px 0 rgba(0,0,0,.15);
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 1fr 2fr;
  grid-column-gap: 2em;
  grid-template-areas: "title title title"
                       "item amt progress"
                       "itemdata amtdata progressdata";
}

.savings-table-column {
  width: 33%;
  flex-direction: column;
}

.investing {
  display: flex;
  grid-area: inv;
  flex-direction: column;
  margin-right: 2em;
  background-color: #e8daef;
  box-shadow: 1px 2px 0 rgba(0,0,0,.15);
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-template-areas: "title title"
                       "account amount"
                       "accountdata amtdata";
}

.investing-table-column {
  width: 49%;
  flex-direction: column;
}

.section{
  border-radius: 25px;
}

.section-title {
  display: flex;
  justify-content: left;
  margin: 1em;
}

.table-titles {
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.table-data {
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0em;
  margin-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.elem{
  display: flex;
  font-family: Karla;
  color: #4e4e4e;
  border-bottom: 0.1em solid gray;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

.elem.altincome {
  background-color: #a2d9ce;
}

.elem.altsummary {
  background-color: #aed6f1;
}

.elem.altfixed {
  background-color: #f5b7b1;
}

.elem.altsavings {
  background-color: #f9e79f;
}

.elem.altinvest {
  background-color: #d2b4de;
}

.head-elem {
  display: flex;
  font-family: Karla;
  font-size: 1.25em;
  color: #4e4e4e;
  border-bottom: 0.15em solid gray;
}

.new-row {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.flex-outer li {
  width: 33%;
}

form ul {
  display: flex;
  width: 100%;
}

input {
  background-color: inherit;
  border: 0 solid gray;
  color: #4e4e4e;
  font-family: Karla;
  font-size: 1em;
  width: 100%;
  padding: 0;
}

#footer {
    grid-area: ftr;
    background-color: transparent;
    font-family: MV Boli;
    color: #4e4e4e;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    border-bottom: 2px solid #4e4e4e;
    border-right: 2px solid #4e4e4e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    height: fit-content;
    align-items: center;
    flex-flow: row wrap;
}

.item button {
    color: #4e4e4e;
    width: fit-content;
    height: fit-content;
    background-color: Transparent;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.item button:active {
    color: #97aed4;
}

.add_item {
    display: flex;
    justify-content: center;
}

.add_item button {
    color: #4e4e4e;
    width: fit-content;
    height: fit-content;
    background-color: Transparent;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.add_item button:active {
    color: #97aed4;
}

.add_item_form {
    display: none;
    border: 2px solid #4e4e4e;
    margin: 10px;

}

.add_item_form label {
    color: #4e4e4e;
    font-family: Karla;
}

.popup {
    display: none;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
}

.innerpopup {
    display: flex;
    background: #f3f3f3;
    position: absolute;
    border: 2px solid #4e4e4e;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    right: -2px;
    width: inherit;
    font-family: Karla;
    color: #4e4e4e;
    justify-content: space-between;
    z-index: 1;
}

.content {
    padding: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
