{% load static %}
{% load custom_history_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
    <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'history/history.css' %}">
</head>

<body>
    <nav>
        <div class="nav-wrapper sticky">
            <div class="logo">
                <svg width="69" height="105" viewBox="0 0 69 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="34.2774" cy="71.0841" rx="31.6065" ry="33.9159" fill="#C4C4C4" />
                    <path
                        d="M10.2194 17.0331C13.4573 8.36581 25.7169 8.36581 28.9548 17.0331L31.5069 23.8648C33.9485 30.4004 29.116 37.3643 22.1392 37.3643H17.0349C10.0582 37.3643 5.22573 30.4004 7.66727 23.8648L10.2194 17.0331Z"
                        fill="#C4C4C4" />
                    <path
                        d="M12.3013 18.2665C14.8702 11.2817 24.7491 11.2817 27.318 18.2665L29.1524 23.2544C31.0729 28.4765 27.2082 34.0158 21.6441 34.0158H17.9753C12.4112 34.0158 8.54638 28.4765 10.4669 23.2544L12.3013 18.2665Z"
                        fill="#4E4E4E" />
                    <path
                        d="M40.0452 17.0331C43.2831 8.3658 55.5427 8.3658 58.7806 17.0331L61.3327 23.8648C63.7743 30.4004 58.9418 37.3643 51.9651 37.3643H46.8608C39.884 37.3643 35.0515 30.4004 37.4931 23.8648L40.0452 17.0331Z"
                        fill="#C4C4C4" />
                    <path
                        d="M42.1271 18.2665C44.696 11.2817 54.5749 11.2817 57.1438 18.2665L58.9782 23.2544C60.8987 28.4765 57.034 34.0158 51.4699 34.0158H47.8011C42.237 34.0158 38.3722 28.4765 40.2927 23.2544L42.1271 18.2665Z"
                        fill="#4E4E4E" />
                    <rect x="1.33545" y="18.5841" width="65.8839" height="37.1681" rx="18.5841" fill="#C4C4C4" />
                    <rect x="38.7291" y="23.6947" width="19.5871" height="16.2611" rx="8.13053" fill="#4E4E4E" />
                    <ellipse cx="46.0742" cy="29.0376" rx="2.44839" ry="2.55531" fill="#C4C4C4" />
                    <rect width="19.5871" height="16.2611" rx="8.13053" transform="matrix(-1 0 0 1 29.8258 23.6947)"
                        fill="#4E4E4E" />
                    <ellipse rx="2.44839" ry="2.55531" transform="matrix(-1 0 0 1 22.4806 29.0376)" fill="#C4C4C4" />
                    <rect x="29.8258" y="39.9557" width="9.34839" height="5.57522" rx="2.78761" fill="#4E4E4E" />
                    <ellipse cx="34.5" cy="75.9624" rx="25.1516" ry="23.4624" fill="#4E4E4E" />
                </svg>
                <a href="#">Tanuki</a>
            </div>
            <div class="nav-desktop">
              <ul>
                  <li><a href="{% url 'overview:home' %}" id='home1'>Overview</a></li>
                  <li><a href="{% url 'budget:budget' %}" id='budget1'>Budget</a></li>
                  <li id="selected"><a href="{% url 'history:history' %}" id='history1'>History</a></li>
                  <li>
                      <div class="dropdown">
                          <a href="#user"><i class="material-icons">person_outline</i></a>
                          <div class="dropdown-content">
                              <ul>
                                  <li><a href="{% url 'login:logout' %}" id='logout1'>Logout</a></li>
                              </ul>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
        </div>
    </nav>

    <!--                                     MAIN                              -->
    <div class="main section">
        <div class="section-title" style="width: fit-content; justify-content:space-between;" id="selected">
          <h1>All History</h1>
          <div id='pagination'>
            <div id='results' class='inside-pagination'>
              results
            </div>
            <div id='show-results' class='inside-pagination'>
              Show
              <div class='show-dropdown'>
                <button onclick="showDropdown()" class="show-dropbtn">25<i class="material-icons" style="height:15px; font-size:18px;">keyboard_arrow_down</i></button>
                <div id='display-numbers' class="show-dropdown-content">
                  <a href="javascript:changeNumDisplayed(10)">10</a>
                  <a href="javascript:changeNumDisplayed(15)">15</a>
                  <a href="javascript:changeNumDisplayed(20)">20</a>
                  <a href="javascript:changeNumDisplayed(25)">25</a>
                  <a href="javascript:changeNumDisplayed(30)">30</a>
                  <a href="javascript:changeNumDisplayed(35)">35</a>
                  <a href="javascript:changeNumDisplayed(40)">40</a>
                  <a href="javascript:changeNumDisplayed(45)">45</a>
                  <a href="javascript:changeNumDisplayed(50)">50</a>
                </div>
              </div>
            </div>
            <div id='list-pages' class='inside-pagination'>
              <div class="pages">
                <!-- don't worry, be happy :) -->
              </div>
            </div>
          </div>
        </div>
    <!--                                  main titles                          -->
        <div class="table-titles">
          <div class="main-table-column">
            <div class="head-elem">
              Item
            </div>
          </div>
          <div class="main-table-column">
            <div class="head-elem">
              Amount
            </div>
          </div>
          <div class="main-table-column">
            <div class="head-elem">
              Category
            </div>
          </div>
          <div class="main-table-column">
            <div class="head-elem">
              Date
            </div>
          </div>
        </div>
    <!--                                 main data                             -->
        <div class="table-data">
          <div class="main-table-column">
            {% comment %}
            {% for item in items %}
              {% if forloop.counter|modulo:2 == 0 %}
              <div class="elem">
                {{ item.itemName }}
              </div>
              {% else %}
              <div class="elem altmain">
                {{ item.itemName }}
              </div>
              {% endif %}
            {% endfor %}
            {% endcomment %}
          </div>
          <div class="main-table-column">
            {% comment %}
            {% for item in items %}
              {% if forloop.counter|modulo:2 == 0 %}
                <div class="elem">
                  ${{ item.itemPrice }}
                </div>
              {% else %}
                <div class="elem altmain">
                  ${{ item.itemPrice }}
                </div>
              {% endif %}
            {% endfor %}
            {% endcomment %}
          </div>
          <div class="main-table-column">
            {% comment %}
            {% for item in items %}
              {% if forloop.counter|modulo:2 == 0 %}
                <div class="elem">
                  {{ item.itemType }}
                </div>
              {% else %}
                <div class="elem altmain">
                  {{ item.itemType }}
                </div>
              {% endif %}
            {% endfor %}
            {% endcomment %}
          </div>
          <div class="main-table-column">
            {% comment %}
            {% for item in items %}
              {% if forloop.counter|modulo:2 == 0 %}
                <div class="elem">
                  {{ item.dateDisplayed }}
                </div>
              {% else %}
                <div class="elem altmain">
                  {{ item.dateDisplayed }}
                </div>
              {% endif %}
            {% endfor %}
            {% endcomment %}
          </div>
        </div>

        <div class="end-of-table">

        </div>

      </div>

    <!--                              WEEK AT A GLAnCE                        -->
     <!-- <div class="week section">
        <div class="section-title" style="width: fit-content" id="selected">
          <h1>Week at a Glance: Week of {%findWeek%}
          </h1>
        </div> -->
    <!--                             Week at a glance titles                    -->
        <!-- <div class="table-titles">
          <div class="week-table-column">
            <div class="head-elem">
              Monday
            </div>
          </div>
          <div class="week-table-column">
            <div class="head-elem">
              Tuesday
            </div>
          </div>
          <div class="week-table-column">
            <div class="head-elem">
              Wednesday
            </div>
          </div>
          <div class="week-table-column">
            <div class="head-elem">
              Thursday
            </div>
          </div>
          <div class="week-table-column">
            <div class="head-elem">
              Friday
            </div>
          </div>
          <div class="week-table-column">
            <div class="head-elem">
              Saturday
            </div>
          </div>
          <div class="week-table-column">
            <div class="head-elem">
              Sunday
            </div>
          </div>
        </div> -->
    <!--                                 week data                             -->
        <!-- <div class="table-data">
          <div class="main-table-column">
            <div class="elem altmain">
              item data
            </div>
            <div class="elem">
              item data
            </div>
          </div>
          <div class="main-table-column">
            <div class="elem altmain">
              amount data
            </div>
            <div class="elem">
              amount data
            </div>
          </div>
          <div class="main-table-column">
            <div class="elem altmain">
              category data
            </div>
            <div class="elem">
              category data
            </div>
          </div>
          <div class="main-table-column">
            <div class="elem altmain">
              date data
            </div>
            <div class="elem">
              date data
            </div>
          </div>
          <div class="main-table-column">
            <div class="elem altmain">
              receipt data
            </div>
            <div class="elem">
              receipt data
            </div>
          </div>
          <div class="main-table-column">
            <div class="elem altmain">
              item data
            </div>
            <div class="elem">
              item data
            </div>
          </div>
          <div class="main-table-column">
            <div class="elem altmain">
              item data
            </div>
            <div class="elem">
              item data
            </div>
          </div>
        </div>

        <div class="end-of-table">

        </div>

      </div> -->

      <div id="footer">
          <h3>Tanuki</h3>
      </div>
    </div>

    <script>
      var items = {{ items_json|safe }};
      // var json_string = unescape({{items_json | safe | escapejs}});
      // var json_data = JSON.parse(json_string);
    </script>

    <script src="{% static 'history/history.js' %}"></script>

</body>

</html>
