<!DOCTYPE html>
<html>
    <body>
        <h2>Register</h2>
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in registerForm %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small>{{field.help_text}}</small>
                    {% endif %}
                    
                    {% for error in field.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </p>

             {% endfor %}
            <input type="submit" name = "Submit"/>
        </form>
    </body>
</html> 
