<!DOCTYPE html>
<html>
    <body>
        <h2>Register</h2>
        {% block content %}
        <form action="" method="POST">
            {% csrf_token %}

            {% for field in registerForm %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small>{{field.help_text}}</small>
                    {% endif %}
                    
                    {% for error in field.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                </p>

             {% endfor %}
            
            <div>{{ form.first_name.label_tag }}
            {{ form.first_name }}
            {{ form.first_name.errors }}</div>

            <div>{{ form.last_name.label_tag }}
            {{ form.last_name }}
            {{ form.last_name.errors }}</div>

            <div>{{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}</div>

            <div>{{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}<div>

            <div>{{ form.password1.label_tag }}
            {{ form.password1 }}
            {{form.password1.}}
            {{ form.password1.errors }}</div>

            <div>{{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}</div>

            <input type="submit" name = "Submit"/>
        </form>

        {% endblock %}
    </body>
</html> 
