body {
    background-image: url('https://images.unsplash.com/photo-1490100667990-4fced8021649?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80');
  }
 .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #EEECE1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 60%;
    height: 52%;
    display: grid;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 50px;
  }
  .logo {
    grid-area: 1/1/3/2;
  }
  .tanuki {
    font-family: MV Boli;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: #4E4E4E;
    grid-area: 1/2/1/2;
  }
  .userinfo {
    grid-area: 2/5/2/8;
    vertical-align: top;
  }
  .welcome {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 64px;
    color: #4E4E4E;
    grid-area: 1/5/1/8;
  }
  input {
    width: 100%;
    height: 50px;
    background: 0 0;
    font-family: Karla;
    font-size: 22px;
    color: #999999;
    line-height: 1.2;
    padding: 0 2px;
    outline: 0;
    border-width: 0 0 2px;
    cursor: text;
    border-color: #D2D2D2;
  }
  ::placeholder {
    color: #999999;
  }
  input:focus {
    border-color: skyblue;
  }
  .login {
    background: #4E4E4E;
    border-radius: 45px;
    border: none;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    padding: 5px;
    color: #CECECE;
    grid-area: 4/5/4/8;
  }
  button:active {
    background: #4e4e4e;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
  }
  .signup {
    color: #417DC1;
    text-decoration: none;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
  }
  .or {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    color: #4e4e4e;
    text-align: center;
  }
  .account {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #4e4e4e;
    grid-area: 5/5/5/8;
  }