body {
    background-color: #f3f3f3;
    margin: 0;
    padding-top: 40px;
}


/* Style the navbar 
#navbar {
    overflow: hidden;
    background-color:#fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 0;
}
*/

/* Navbar links 
#navbar a{
    display:flexbox;
    float: right;
    color: #4e4e4e;
    text-align: center;
    font-family: Gadugi;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    color: #97aed4;
}

#selected {
    box-shadow: 0 2px 0 #4e4e4e;
}
*/

.nav-wrapper {
    overflow: hidden;
    background-color:#fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 0;
}

#nav-desktop {
    display: flex;
    float: right;
    list-style-type: none;
    padding-left: 14px;
    padding-right: 14px;
}

#nav-desktop li{
    float: right;
    color: #4e4e4e;
    text-align: center;
    text-decoration: none;
}

#nav-desktop a{
    color: #4e4e4e;
    text-align: center;
    font-family: Gadugi;
    padding: 14px;
    text-decoration: none;
}


/* Page content */

h1 {
    font-family: Karla;
    color:#4e4e4e;
}

.content-wrapper {
    display: grid;
    width: 100%;
    grid-template-areas: "wkt wkt wkt wkt wkt wkt wkt"
                         "cat cat cat cat cat cat cat"
                         "ess ess ess ess ess ess ess"
                         "lei lei lei lei lei lei lei"
                         "opt opt opt opt opt opt opt"
                         "unx unx unx unx unx unx unx"
                         "ftr ftr ftr ftr ftr ftr ftr";
    grid-template-rows: 50px 50px auto auto auto auto 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#week {
    grid-area: wkt;
    background-color: #8ca0ff;
}

#total {
    grid-area: wkt;
    background-color: #ffa08c;
}

#cat-totals {
    grid-area: cat;
    background-color: aqua;
}

#essential {
    grid-area: ess;
    background-color: aquamarine;
}

#leisure {
    grid-area: lei;
    background-color: beige;
}

#optional {
    grid-area: opt;
    background-color: blueviolet;
}

#unexpected {
    grid-area: unx;
    background-color: burlywood;
}

#footer {
    grid-area: ftr;
    background-color: cadetblue;
}

.content {
    padding: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

